<a href="https://colab.research.google.com/github/elileal/Report_Machine_Learning/blob/master/Divorce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier

url = "https://raw.githubusercontent.com/elileal/Report_Machine_Learning/master/divorce/divorce.csv"

# IRIS
col_names = ['Atr1','Atr2','Atr3','Atr4','Atr5','Atr6','Atr7','Atr8','Atr9','Atr10','Atr11','Atr12','Atr13','Atr14','Atr15','Atr16','Atr17','Atr18','Atr19','Atr20','Atr21','Atr22','Atr23','Atr24','Atr25','Atr26','Atr27','Atr28','Atr29','Atr30','Atr31','Atr32','Atr33','Atr34','Atr35','Atr36','Atr37','Atr38','Atr39','Atr40','Atr41','Atr42','Atr43','Atr44','Atr45','Atr46','Atr47','Atr48','Atr49','Atr50','Atr51','Atr52','Atr53','Atr54','label']

feature_cols = ['Atr1','Atr2','Atr3','Atr4','Atr5','Atr6','Atr7','Atr8','Atr9','Atr10','Atr11','Atr12','Atr13','Atr14','Atr15','Atr16','Atr17','Atr18','Atr19','Atr20','Atr21','Atr22','Atr23','Atr24','Atr25','Atr26','Atr27','Atr28','Atr29','Atr30','Atr31','Atr32','Atr33','Atr34','Atr35','Atr36','Atr37','Atr38','Atr39','Atr40','Atr41','Atr42','Atr43','Atr44','Atr45','Atr46','Atr47','Atr48','Atr49','Atr50','Atr51','Atr52','Atr53','Atr54']

# Carregar base de dados
dataset = pd.read_csv(url, header=None, names=col_names)

X = dataset[feature_cols] # Atributos (Features)
y = dataset.label # Saída

     Atr1  Atr2  Atr3  Atr4  Atr5  ...  Atr51  Atr52  Atr53  Atr54  label
0       2     2     4     1     0  ...      2      3      2      1      1
1       4     4     4     4     4  ...      4      4      2      2      1
2       2     2     2     2     1  ...      1      2      2      2      1
3       3     2     3     2     3  ...      3      2      2      2      1
4       2     2     1     1     1  ...      2      2      1      0      1
..    ...   ...   ...   ...   ...  ...    ...    ...    ...    ...    ...
165     0     0     0     0     0  ...      4      2      2      2      0
166     0     0     0     0     0  ...      2      3      2      2      0
167     1     1     0     0     0  ...      1      3      0      0      0
168     0     0     0     0     0  ...      2      4      3      1      0
169     0     0     0     0     0  ...      3      3      3      1      0

[170 rows x 55 columns]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y) # 80% treino e 20% teste

In [0]:
# Árvore de Decisão
model = tree.DecisionTreeClassifier(criterion="entropy")
model = model.fit(X_train, y_train)

## Predição e Resultados
result = model.predict(X_test)
acc = metrics.accuracy_score(result, y_test)
show_tree = round(acc * 100)

In [0]:
# KNN
def train_pred_knn(n, X_train, y_train):
  model = KNeighborsClassifier(n_neighbors=n, metric='euclidean', algorithm='brute')
  model = model.fit(X_train, y_train)
  result = model.predict(X_test)
  acc = metrics.accuracy_score(result, y_test)
  return round(acc * 100)

knn5 = train_pred_knn(5, X_train, y_train)
knn10 = train_pred_knn(10, X_train, y_train)

In [0]:
# MLP

def mlp_arc_fit(l1, l2, X_train, y_train):
  model = MLPClassifier(hidden_layer_sizes=(l1, l2), activation='tanh',max_iter=2000)
  model = model.fit(X_train, y_train)
  result = model.predict(X_test)
  acc = metrics.accuracy_score(result, y_test)
  return round(acc * 100)

# Arquitetura (4,2)
mlp42 = mlp_arc_fit(4, 2, X_train, y_train)

# Arquitetura (2, 1)
mlp21 = mlp_arc_fit(4, 2, X_train, y_train)

In [10]:
# Resultados
data = {'knn5': [knn5], 'knn10': [knn10], 'tree': [show_tree], 'mlp (4, 2)': [mlp42], 'mlp (2, 1)': [mlp21]}

df = pd.DataFrame(data)
df

   knn5  knn10  tree  mlp (4, 2)  mlp (2, 1)
0  97.0   97.0  97.0        94.0        97.0